/* ===== =====  GLOBAL  ===== ===== */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* background-color: black; */
    background-color: white;
}
html, body {
    width: 100%;
    height: 100%;
    /* color: rgb(189, 189, 189); */
    /* color: lime; */
    color: black;
    font-family:  'Lato', 'Arial', sans-serif ;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

/* ===== =====  HEADINGS  ===== ===== */
h1 {
    font-size: 170%;
    margin-top: 20px;
    margin-bottom: 30px;
    /* color: lime; */
    letter-spacing: 1px;
}
h2 {
    justify-content: center;
    color: white;
    font-size: 120%;

}
.main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===== =====  REUSABLE  ===== ===== */
.btn-group {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}
.btn {
    border-radius: 200px;
    font-size: 70%;
    padding: 3px 8px;
    color: white;
}
/* ===== =====  LOGIN  ===== ===== */
.section-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px; 
}
.login-form {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}
.input{ 
    width: 200px;
    height: 30px;
    margin-left: 4px;
    font-size: 80%;
    color: white;
    background-color: white;

}
.input-submit {
    width: 25%;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 200px;
    padding: 3px;
    font-size: 80%;
}


/* ===== =====  AVATAR  ===== ===== */
.avatarImg {
    width: 30px;
}



td {
    padding: 10px;
  }




/* 
  .App-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: lime;
  font-size: 70px;
  font-family: Orbitron;
  letter-spacing: 7px;
} */