/* ===== =====  GLOBAL  ===== ===== */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: rgb(41, 41, 41);
    /* background-color: black; */
    /* background-color: white; */
    width: 100%;
}
html, body {
    height: 100%;
    /* color: rgb(189, 189, 189); */
    color: lime;
    /* color: black; */
    font-family:  'Lato', 'Arial', sans-serif ;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}
.main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ===== =====  HEADINGS  ===== ===== */
h1 {
    display: flex;
    justify-content: center;
    font-size: 170%;
    letter-spacing: 1px;
    margin: 20px 0 10px;
}
h2 {
    text-align: center;
    color: lime;
    font-size: 120%;
}
h3 {
    margin: 8px 0;
    font-size: 80%;
}
h4 {
    margin: 5px 0;
    padding-left: 5px;
}

/* ===== =====  REUSABLE  ===== ===== */
.btn:link,
.btn:visited,
button,
input[type=submit] {
    /* width: auto; */
    padding: 3px 8px;
    font-size: 70%;
    font-weight: 300;
    border-radius: 200px;
    color: white;
    /* margin-right: 5px; */
    background-color: rgb(41, 41, 41);
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(143, 143, 143);
    background-color: rgb(41, 41, 41);
}
.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(143, 143, 143);
    border: 1px solid rgb(41, 41, 41);
    color: rgb(41, 41, 41);
    /* color: white; */
}
.btn-ghost:active,
.btn-ghost:hover {
    border: 1px solid rgb(41, 41, 41);
    /* color: rgb(41, 41, 41); */
}
.links:link,
.links:visited {
    text-decoration: none;
    width: auto;
    font-size: 80%;
    color: lime;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
}
.links:active,
.links:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* ===== =====  FORMS  ===== ===== */
.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px; 
}
.form {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
    text-align: center;
}
label {
    background-color: rgb(71, 71, 71);
    font-size: 80%;
    margin: 10px 0;
}
.input { 
    width: 220px;
    height: 25px;
    padding-left: 5px;
    font-size: 80%;
    color: white;
    background-color: rgb(41, 41, 41);
    border-style: groove;
    float: right;
}
.field {
    color: white;
    padding-left: 2px;
}
.input-submit {
    width: 40%;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 200px;
    padding: 3px;
    margin-bottom: 10px;
    font-size: 80%;
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.field {
    width: 15%;
    text-align: center;
}

/* ===== =====  LOGIN  ===== ===== */
.section-login {
    width: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ===== =====  REGISTER  ===== ===== */
.section-register {
    width: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* ===== =====  NAVBAR  ===== ===== */
.navbar {
    display: flex; 
    justify-content: flex-end;
    align-content: center;
    padding: 8px;
    margin: 10px 0;
    /* border: 1px solid white;  */
}

/*  ===== =====  TIMER  ===== ===== */
.section-timer {
    border: 2px solid white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
p {
    font-size: 70%;
    text-align: center;
}
.App-clock {
    color: lime;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.clock {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
}
.set-timer{
    background-color: rgb(71, 71, 71);
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}

/* ===== =====  DROPDOWN  ===== ===== */
.category-dropdown {
    width: 50%;
    font-size: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}
.bgc {
    background-color: rgb(41, 41, 41);
}
.selection {
    background-color: white;
    display: flex;
    justify-content: center;
}

/* ===== =====  DISPLAY-QUIZ  ===== ===== */
.section-display-quiz {
    border: 2px solid white;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
}
.questions-display  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 120%;
    font-weight: bold;
    width: 30%;
    height: 60px;
    background-color: rgb(71, 71, 71);
    border: 2px solid white;
}
.answer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 8px;
}
.input-answer {
    height: 30px;
    width: 270px;
    padding-left: 5px;
    font-size: 80%;
    color: white;
    background-color: rgb(41, 41, 41);
    border-style: groove;
    float: right;
}
.answer-submit {
    width: 25%;
    height: 30px;
}

/* ===== =====  MYACCOUNT  ===== ===== */
.section-myaccount {
    width: 70%;
    padding: 15px 8px; 
    border: 2px solid white;
}
.sep-link:link,
.sep-link:visited {
    text-decoration: none;
    font-size: 80%;
    color: lime;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    margin-right: 10px;
    transition: border-bottom 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
}
.sep-link:active,
.sep-link:hover {
    color: white;
}
details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
summary {
    font-size: 90%;
}
button {
    margin: 5px 0;
}
b {
    display: flex; 
    justify-content: flex-start;
    font-weight: bold;
}
.deck-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* ===== =====  SETTINGS  ===== ===== */
.section-settings {
    width: 30%;
}
.update-form {
    padding: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}
.input-dummy {
    margin-top: 20px;
}

/* ===== =====  CREATE-FLASHCARDS  ===== ===== */
.section-deck {
    width: 40%;
}
table {
    border-collapse: collapse;
    
}
table, th, td {
    border: 1px solid white;
    font-size: 95%;
    padding: 3px;
    text-align: center;
}
li {
    list-style-type: none;
    font-size: 80%;
}






/* ===== =====  AVATAR  ===== ===== */
/* .avatarImg {
    width: 30px;
}



td {
    padding: 10px;
  } */





