/* ===== =====  GLOBAL  ===== ===== */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: rgb(41, 41, 41);
    /* background-color: black; */
    /* background-color: white; */
    width: 100%;
}
html, body {
    height: 100%;
    /* color: rgb(189, 189, 189); */
    color: lime;
    /* color: black; */
    font-family:  'Lato', 'Arial', sans-serif ;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}
.main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ===== =====  HEADINGS  ===== ===== */
h1 {
    text-align: center;
    font-size: 170%;
    letter-spacing: 1px;
    margin: 20px 0 10px;
}
h2 {
    justify-content: center;
    color: lime;
    font-size: 120%;
}

/* ===== =====  REUSABLE  ===== ===== */
.btn:link,
.btn:visited,
input[type=submit] {
    /* width: auto; */
    padding: 3px 8px;
    font-size: 70%;
    font-weight: 300;
    border-radius: 200px;
    color: white;

    margin: 5px;
    background-color: rgb(41, 41, 41);
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(143, 143, 143);
    background-color: rgb(41, 41, 41);
}
.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(143, 143, 143);
    border: 1px solid rgb(41, 41, 41);
    /* color: rgb(41, 41, 41); */
    color: white;
}
.btn-ghost:active,
.btn-ghost:hover {
    border: 1px solid rgb(41, 41, 41);
    color: rgb(41, 41, 41);
}
.links:link,
.links:visited {
    text-decoration: none;
    width: auto;
    font-size: 80%;
    color: lime;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
}
.links:active,
.links:hover {
    color: white;
    border-bottom: 2px solid white;
}
.dropdown {
    width: auto;
    display: flex;
    flex-direction: column;
}
.selection {
    background-color: white;
}
/* ===== =====  FORMS  ===== ===== */
.title h2{
    display: flex; 
    justify-content: center;
    margin-bottom: 15px; 
}
.form {
    padding: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    text-align: center;
}
label {
    background-color: rgb(41, 41, 41);
    font-size: 80%;
    margin: 10px 0;
}
.input{ 
    width: 220px;
    height: 25px;
    padding-left: 5px;
    font-size: 80%;
    color: white;
    background-color: rgb(41, 41, 41);
    border-style: groove;
    float: right;
}
.field {
    color: white;
    padding-left: 2px;
}
.input-submit {
    width: 25%;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 200px;
    padding: 3px;
    margin-bottom: 10px;
    font-size: 80%;
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.field {
    width: 15%;
    text-align: center;
}

/* ===== =====  LOGIN  ===== ===== */
.section-login {
    width: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ===== =====  REGISTER  ===== ===== */
.section-register {
    width: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* ===== =====  NAVBAR  ===== ===== */
.navbar {
    display: flex; 
    justify-content: flex-end;
    align-content: center;
    padding: 10px;
    margin: 10px 0;
    /* border: 1px solid white;  */
}

/*  ===== =====  TIMER  ===== ===== */
.section-timer {
    border: 2px solid white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
p {
    font-size: 70%;
    text-align: center;
}
.App-clock {
    color: lime;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.clock {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
}
.set-timer{
    background-color: rgb(41, 41, 41);
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}

/* ===== =====  DISPLAY-QUIZ  ===== ===== */
.section-display-quiz {
    border: 2px solid white;
    width: 90%;
    text-align: center;
}
.answer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding: 8px;
}
.answer-submit {
    width: 25%;
    margin-bottom: 0;
}


/* ===== =====  MYACCOUNT  ===== ===== */
/* .section-myaccount {
    width: 70%;
} */















/* ===== =====  AVATAR  ===== ===== */
/* .avatarImg {
    width: 30px;
}



td {
    padding: 10px;
  } */





