 /* ===== =====  MEDIA-QUERIES  ===== ===== */ 

@media only screen and (max-width: 1200px) {

 }

@media only screen and (max-width: 1024px) {
     
}

@media only screen and (max-width: 768px) {
     .set-timer {
         width: 90%;
     }
     .section-myaccount {
         width: 90%;
     }
     .section-settings {
         width: 80%;
     }
     .section-deck {
         width: 80%;
     }

}

@media screen and (max-width: 450px) {
    .navbar {
        font-size: 80%;
    }
    .section-login {
        width: 70%;
    }
    .section-register {
        width: 70%;
    }
    .title {
        font-size: 120%;
    }
    .input {
        width: 100%;
    }
    .label {
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .section-timer {
        width: 70%
    }
    .set-timer {
        width: 80%;
    }
    .category-dropdown {
        width: 170px;
    }
    .input-submit { 
        text-align: center;
        /* margin-left: 85px; */
        height: 25px;
        padding: 3px;
        width: 100%;
    }
    .input-answer {
        width: 200px;
    }
    .clock {
        font-size: 130%;
        margin: 15px 0 20px;
    }
    h2 {
        font-size: 100%;
    }
    h3 {
        font-size: 80%;
    }
    h4 {
        font-size: 80%;
    }
    .section-myaccount {
        height: 100%;
        width: 95%;

    }
    .questions {
        width: 80%;
        /* padding: 0; */
    }
    table {
        border-collapse: collapse;
        width: 100%
    }
    th {
        height: 23px;
    }
    table, th, td {
        font-size: 80%;
        font-weight: 100;
        padding: 3px;
        border: 1px solid white;
    }
    .section-settings {
        width: 70%;
    }
    .section-deck {
        width: 70%;
    }
}